PUBLIC_SUPABASE_URL=
PUBLIC_SUPABASE_KEY=
PRIVATE_SUPABASE_SERVICE_ROLE_KEY=
PRIVATE_OPENROUTER_API_KEY=
OPENROUTER_COST_LIMIT_DAILY=5.00

# Rate limiting
RATE_LIMIT_POINTS=100
RATE_LIMIT_DURATION=1 # in seconds

# Environment
NODE_ENV=development