# Dependencies
node_modules/
.npm

# Build output
dist/
.output/
.astro/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env
.env.*
!.env.example

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw? 